/**** ADD YOUR STYLES ****/

.body {
    font-family: "Times New Roman", Times, serif;
}

.title {
    color: darkgreen;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem;
}

#slide {
    padding: 20px;
    margin: 10px 5px 5px 5px;
    background-color: lightblue;
}

.section {
    height: 100vh;
}

#display-year {
    font-size: 30px;
}

#cate-map {
    height: 500px
}

#contact-map {
    height: 500px
}

/*.dotplot-year-slider {*/
/*    cursor: pointer;*/
/*}*/